<h1 class="header-title">
  Carrito share de Mercado Libre
</h1>

<div class="input-container">
  <input [(ngModel)]="productLink" class="product-input">
  <button (click)="addProductLink()" class="add-button">+</button>
</div>  

<div class="product-list">
  <div *ngFor="let product of productList; let i = index" class="product-item">
    <div>
      <img [src]="product.img" class="product-image">
    </div>
    <div class="product-details">
      <div>
        <b class="product-name">{{product.name}}</b>
        <div>
          <a class="product-link" [href]="product.link">{{product.link}}</a>
        </div>
      </div>
      <div class="product-price-container">
        <h2 class="product-price">{{product.priceFormatted}}</h2>
        <button (click)="deleteEntry(i)" class="delete-button">
          <img src="assets/delete.png" class="delete-icon">
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="productList.length === 0" class="empty-cart-message">
    <h2>No hay productos en el carrito</h2>
  </div>

  <div *ngIf="productList.length" class="total-container">
    <h2 class="total-price">{{formatPrice(getTotal(),'ARS')}}</h2>
  </div>
</div>